@font-face {
  font-family: "Monument";
  src: url("./assets/fonts/Monument-Regular.ttf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Monument";
  src: url("./assets/fonts/Monument-Bold.ttf") format("opentype");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
